body {
  margin: 0;
  padding: 50 50 50 50;
  font: 300 16px/1.4 'Open Sans', Helvetica, sans-serif;
  font-weight: bold;
  background-image: url("http://indervilla.com/home/Pirate-Ship-Fantasy-HD.jpg");
}

p {font-size: 20; 
padding-left: 350px;
background-color: lightblue;
padding-right: 350px;
font-weight: bold;
opacity: 0.8;
width: 400px;
position: center;
} 

.title {background-color: blue; 
		text-align: center; 
		color: white; 
		opacity: 0.8; 
		width: 400px;
		position: center;
	}

.Story {background-color: lightblue; 
		text-align: center; 
		opacity: 0.8;
		width: 600px;
		position: center;
	}

.subtitle {background-color: blue; 
		text-align: center; 
		color: white; 
		opacity: 0.8;
		width: 400px;
		position: center;
	}

